.container__svg {
  position: relative;
  width: 380px;
  height: 372px;
}
.image__span_1 {
  border-radius: 150px;
  background: #fff;
}
.spanContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 180px;
  top: 230px;
  transform: rotate(-15deg);
}
.curl-bog {
  position: absolute;
  top: 100px;
  left: 230px;
}
.comp {
  position: absolute;
  width: 380px;
  height: 372px;
  top: 100px;
  left: 35px;
}
.play {
  position: absolute;
  left: 300px;
  top: 40px;
}
.electro {
  position: absolute;
  left: 40px;
}
