* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}
.wrapper {
  width: 100vw;
  background: linear-gradient(
    90deg,
    #fff8f8 14.58%,
    #f9f8fb 46.73%,
    #f2edff 90.89%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper__content {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  padding-top: 32px;
  gap: 32px;
  margin-bottom: 80px;
  position: relative;
}
section:nth-child(2) {
  gap: 100px;
  margin-bottom: 42px;
}
section:nth-child(3) {
  gap: 64px;
  margin-bottom: 42px;
}
section:nth-child(4) {
  gap: 64px;
  margin-bottom: 46px;
}
section:nth-child(5) {
  gap: 64px;
  margin-bottom: 46px;
}

section:last-child {
  margin-bottom: 0;
}

.buttonsContainer {
  width: 577px;
  height: 359.5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 21.6px;
  gap: 18px;
  background: #fff;
  border-radius: 27.931px;
}
.cartsContainer {
  position: relative;
  width: 634px;
  height: 480px;
}
.mother {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: -10%;
}
.zagigulina {
  z-index: 1;
  position: absolute;
  left: 47%;
  top: 80%;
}
.try { 
  position: absolute;
  left: 33%;
  top: 13%;
}
.cross { 
  position: absolute;
  left: 42%;
  top: 63%;
}
