.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1510px;
  height: 550px;
  padding-left: 48px;
  padding-right: 48px;
  border-radius: 64px 64px 0px 0px;
  background: #fff;
}
.footer__section_hi {
  width: 1414px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
}
.footer__up {
  color: #302a3e;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 160px;
  border: 2px solid #302a3e;
}
.iconBlock {
  width: 115px;
  height: 56px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer__icon_logo {
  width: 190px;
  height: 56px;
}
.footer__icon {
  width: 56px;
  height: 56px;
}
.footer__recuisit {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  width: 1414px;
  padding-bottom: 48px;
}

.footer__section_midle {
  padding-top: 32px;
  width: 1414px;
  display: flex;
  border-top: 1px solid #efedf2;
  border-bottom: 1px solid #efedf2;
}

.section__midle_phone {
  width: 611px;
  height: 114px;
  gap: 16px;
}
.midle_title {
  color: #302a3e;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;
}
.midle__span {
  color: #2188f6;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.32px;
}
.midle_phone {
  margin-right: 32px;
}
.phone,
.mail {
  width: 16px;
  height: 16px;
}
.midle__text {
  color: #302a3e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 16px;
}
.section__midle_licenssion {
  display: flex;
  margin-top: 56px;
  gap: 56px;
}

.license,
.skypro {
  width: 81px;
  height: 81px;
}
.midle__gos_text {
  width: 99px;
  height: 28px;
  color: rgba(48, 42, 62, 0.6);
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 140% */
}
.up {
  width: 24px;
  height: 24px;
}
