.container__reg {
  width: 340px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 32px;
  border: 2px solid #302a3e;
}
.container__title_reg {
  color: #302a3e;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.container__text_reg {
  width: 292px;
  height: 70px;
  color: rgba(48, 42, 62, 0.6);
  font-family: Comfortaa;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.2px;
  align-self: stretch;
}
.container__button_reg {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 160px;
  background: #302a3e;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}

input {
  color: #302a3e;
  border-radius: 16px;
  border: 1px solid #c1c0c6;
  display: flex;
  padding: 15px 16px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  width: 292px;
  height: 48px;
}
